Import pandas under the alias pd.
Use the read_csv() function to load the dataset (runkeeper_file) into a variable called df_activities. Parse the dates with the parse_dates parameter and set the index to the Date column using the index_col parameter.

In [7]:
import pandas as pd
df_activities = pd.read_csv("cardio.csv",parse_dates=True,index_col = "Date")
df_activities.head()

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
Date,,,,,,,,,,,,,
2018-11-11 14:05:12,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,NaN,10.44,58:40,5:37,10.68,774.0,130,159.0,NaN,NaN,2018-11-11-140512.gpx
2018-11-09 15:02:35,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,NaN,12.84,1:14:12,5:47,10.39,954.0,168,159.0,NaN,NaN,2018-11-09-150235.gpx
2018-11-04 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,NaN,13.01,1:15:16,5:47,10.37,967.0,171,155.0,NaN,NaN,2018-11-04-160500.gpx
2018-11-01 14:03:58,bc9b612d-3499-43ff-b82a-9b17b71b8a36,Running,NaN,12.98,1:14:25,5:44,10.47,960.0,169,158.0,NaN,NaN,2018-11-01-140358.gpx
2018-10-27 17:01:36,972567b2-1b0e-437c-9e82-fef8078d6438,Running,NaN,13.02,1:12:50,5:36,10.73,967.0,170,154.0,NaN,NaN,2018-10-27-170136.gpx

In [11]:
df_activities.sample(3)         #to print 3 random rows

,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
Date,,,,,,,,,,,,,
2013-07-03 07:20:00,e4d4f094-e32e-4518-8119-742667e662c4,Running,NaN,3.75,21:55,5:51,10.26,281.000000,55,NaN,NaN,NaN,2013-07-03-072000.gpx
2018-05-15 18:56:19,775b794a-fde4-485c-a200-112a5d325a27,Running,NaN,12.80,1:05:52,5:09,11.66,889.000000,167,148.0,NaN,TomTom MySports Watch,2018-05-15-185619.gpx
2016-08-19 16:57:41,454b61da-b805-4a17-9a46-940c3607e8ee,Running,NaN,13.43,1:14:24,5:32,10.83,904.999999,185,150.0,NaN,TomTom MySports Watch,2016-08-19-165741.gpx

In [13]:
df_activities.info()            #to print summary of the dataset

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 508 entries, 2018-11-11 14:05:12 to 2012-08-22 18:53:54
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Activity Id               508 non-null    object
 1   Type                      508 non-null    object
 2   Route Name                1 non-null      object
 3   Distance (km)             508 non-null    float64
 4   Duration                  508 non-null    object
 5   Average Pace              508 non-null    object
 6   Average Speed (km/h)      508 non-null    float64
 7   Calories Burned           508 non-null    float64
 8   Climb (m)                 508 non-null    int64
 9   Average Heart Rate (bpm)  294 non-null    float64
 10  Friend's Tagged           0 non-null      float64
 11  Notes                     231 non-null    object
 12  GPX File                  504 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 41.7+ KB